body {
  margin: 0;
  font-family: "Academy", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
}

body {
  min-width: 430px;
  background-size: cover;
  background-image: url("img/back.jpg");
  background-color: rgba(48, 46, 45, 0.9);
  background-repeat: no-repeat;
}

h1 {
  width: 230px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: left;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #FFEE73;
}

h2 {
  margin-left: 40px;
  margin-top: 40px;
  font-family: "Georgia", serif;
  text-align: left;
  font-weight: normal;
  font-size: 25px;
  line-height: 50px;
  color: #FFEE73;
}

h3 {
  margin-left: 40px;
  /*margin-top: 10px;*/
  font-family: "Georgia", serif;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFEE73;
}

.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #FFFB73;
}

.tovar {
  padding-top: 200px;
  margin-left: 40px;
  background-image: url("img/mant1.webp");
  background-repeat: no-repeat;
}

.head {
  width: 800px;
  margin: 0 auto 40px;
  padding: 0 20px;
}
